.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-image: url(img/mackenzie-marco-XG88BYDSDZA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(239,217,141,90%);
    /* background-image: radial-gradient(rgb(197,175,99), rgb(123,128,70), rgb(71,83,78)); */
}

h1 {
    display: inline-block;
    border: 3px solid rgb(24,27,34);
    padding: 0.5em;
    background-color: rgb(239,217,141);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    align-items: flex-start;
    flex-direction: row;
}

.value {
    border: 3px solid rgb(24,27,34);
    margin: 5px;
    background-color: rgb(123,128,70);
    font-size: large;
}

.value:hover {
    border: 5px solid rgb(239,217,141) 
}

.case-row {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
    padding: 0.5em 0.5em;
}

.case {
    border: 3px solid rgb(24,27,34);
    border-radius: 8px;
    width: 60px; 
    padding: 5px 15px 5px 15px;
    /* margin: 5px 2px; */
    text-align: center;
    background-color: rgb(132, 145, 139);
    color: rgb(24,27,34)
}

.selected {
    cursor: not-allowed;
    color: rgb(68, 73, 71);
    background-color: green;
}

.opened {
    cursor: not-allowed;
    color: rgb(68,73,71);
    background-color: red;
};

.removed-value {
    background-color: magenta;
}

.case:hover {
    border: 5px solid rgb(239,217,141);
    /* transition-duration: 0.2s; */
}

.col-md-3, .col-md-6 {
    flex: 0 0 50%;
}

.choice {
    font-size: large;
    padding: 0.1em;
    border: 3px solid rgb(24,27,34);
    background-color: rgb(197,175,99);
    border-radius: 12px;
}

.choice:hover{
    background-color: rgb(24,27,34);
    color: rgb(197,175,99);
    transition-duration: 0.4s;
}

@media (max-width: 767px){
    .case {
        margin: 0.1rem 0.2rem;
        /* width: 60px; */
    }
}